span {
    font-weight: 400;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .details {
        flex-direction: column;
        flex-wrap: wrap;
    }

    img{

        width: 100%!important;
    }
    .btn {
        width: 50% !important;
        font-size: 12px;
    }

}
