body {
  background-color: rgb(248,249,250);
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

*{
  font-family: 'Nunito Sans', sans-serif;
}

::-webkit-scrollbar {

  width: 10px;
  background-color: rgb(248, 249, 250);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 1px 0 2px -1px rgba(0, 0, 0, 0.15),
  inset -1px 0 2px -1px rgba(0, 0, 0, 0.15);

  box-shadow: inset 1px 0 2px -1px rgba(0, 0, 0, 0.15),
  inset -1px 0 2px -1px rgba(0, 0, 0, 0.15);

}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(121, 120, 120, 0.42);
  border: 3px solid transparent;
  background-clip: content-box;
}
